<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shift Manager</title>
</head>
<body>
    <form action="/accounts/login/" method="post">
        {% csrf_token %}
        {if next %}
        <input type="hidden" name="next" value="{{next}}" />
        {% endif %}
        <input type="tel" name="phone" placeholder="Phone Number"/>
        <input type="password" name="password" placeholder="Passward"/>
        <button type="submit" name="login">Login</button>
    </form>
</body>
</html>